.box {
    width: 200px;
    height: 200px;
    border: 5px solid green;
}

/* <!-- MODO MAIS MACRO DE ACESSAR MODIFICAR UMA CLASSE --> */
.box > .box-inside > .title{
    color: red;
}

.box .box-inside{

}